.back-alive {
    background-color : green;
}

.back-dead {
   background-color:  red;
}

.Ken {
    width: 150px;
    
}

.App {
    display: flex;
    justify-content: space-around;
    border-radius: 50px,
}

.Kin {
    align-items: center;

}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}
